<component name="ArtifactManager">
  <artifact type="war" name="SpringIndexMVCExample:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringMVC.war">
      <element id="artifact" artifact-name="SpringIndexMVCExample:war exploded" />
    </root>
  </artifact>
</component>